.checkout {
    border-top: 2px solid #aaa;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.checkout .left {
    width: 45%;
    height: 320px;
    padding: 10px;
    border: 2px solid #aaa;
}

.checkout .right {
    width: 45%;
    height: 320px;
    padding: 10px;

    border: 2px solid #aaa;
}
.checkout .right input{
    width: 90%;
    margin-bottom: 10px;
}

.right input[type='submit']{
    width: 120px;
}