.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .left {
    width: 100%;
}

.navbar .right ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li .list-item {
    text-decoration: none;
    color: inherit;
}

ul li .btn-login {
    display: flex;
    align-items: center;
}